.formulario{
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    margin-top: 5%;
}

.input{
    font-size: 20px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    height: 50px;
    width: 300px;
    margin-top: 10px;
}

.submit{
    border: 1px solid grey;
    width: 310px;
}

.navBar{
    width: 100%;
    display: flex;
}
.container-nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.li-nav{
    list-style: none;
    text-decoration: none;

}

.a-nav{
    font-size: 20px;
    text-decoration: none;
    color: black;
}